div(class=computer ? "bingo-card computer" : "bingo-card")
    header.card-header
        span.bingo-cell-title B
        span.bingo-cell-title I
        span.bingo-cell-title N
        span.bingo-cell-title G
        span.bingo-cell-title O
    div.bingo-row !{row_1}
    div.bingo-row !{row_2}
    div.bingo-row !{row_3}
    div.bingo-row !{row_4}
    div.bingo-row !{row_5}
    footer.card-footer
        button.call-bingo= !computer ? "Yell Bingo!" : "Computer Opponent"
        